@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body{
    font-family: 'Inter', sans-serif;
    background-color: #132101 !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #d7d7d7;
    
}

.custom-header {
    background-color: #416317 !important;
  }
.buscar, .buscar::placeholder{
    color: #d7d7d7;
    background-color: #132101;
}

.promoCard{
    width: 280px;
    transition: transform 0.2s;
    background-color: #416317 !important;
    color: #d7d7d7;
}

.promoCard h5{
    color: #daa520 !important;
}

.promoCard:hover{
    transform: scale(1.05);
}

.desconto {
    background-color: #4cd930 !important;
  }

  .corValor{
    color: #ffffff !important;
  }

  #addCarrinho:hover{
    background-color:#639e1c !important;}